agm-map {
    height: 300px;
    width: 100vw;
}


@media screen and (min-width: 768px) {
    
    #map-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    agm-map {
        height: 100%;
        width: 100%;
    }
}
