#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

#restaurant-name {
  color: #3397db;
  font-size: 1.8em;
  font-weight: 200;
  margin: 20px 0 30px 0;
  text-transform: uppercase;
  text-align: left;
}

#restaurant-img {
  max-width: 100%;
  max-height: 100%;
}

#restaurant-address {
  font-size: 1.2em;
  padding: 15px 0;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1em;;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 10px 0;
  margin: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-hours td {
  color: #666;
  font-size: 1em;
}

/* === breadcrumb === */
#breadcrumb {
  padding: 10px 15px;
  list-style: none;
  background-color: #eee;
  font-size: 1.1em;
  margin: 0;
  width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
  color: #666;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
